.login-card {
  border-color: black;
  border-width: 10px;
}
.ant-card-bordered {
  border: 1px solid #92ceff;
  border-radius: 20px;
}
.login-input {
  margin-top: 20px;
  height: 50px;
  border-radius: 10px;
}
.login-button {
  margin-top: 10px;
}

.task-item-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-item-col {
  border-width: 1px;
  border-color: black;
}
